/* Bootstrap overrides
-------------------------------------------------- */

/* Do not move the imports from here.
Override Bootstrap variables only above.
-------------------------------------------------- */

// Bootstrap

@import '~bootstrap/scss/bootstrap.scss';

@import '~bootstrap/scss/reboot';

// Font

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}

/* Header */
header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  font-family: 'Kdam Thmor Pro', sans-serif;
  z-index: 3;
  transition: background-color 0.5s ease-out;

  img {
    height: 4rem;
    margin-left: 2rem;
  }

  a {
    text-decoration: none;
    color: #dbdbdb;

    &:hover {
      color: #dbdbdb;
      text-decoration: none;
    }
  }

  nav {
    display: flex;
    justify-content: space-around;
    width: 31vw;

    a {
      position: relative;
      font-size: 1.2rem;
      z-index: 1;
      transition: color 0.25s ease-in;

      &:hover {
        color: #1b1d28;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: -0.25em;
        right: -0.25em;
        background-color: #ecececbf;
        transform-origin: center right;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
      }

      &:hover::before {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }
  }

  .social {
    display: flex;
    justify-content: space-between;
    width: 9rem;

    a {
      position: relative;
      font-size: 1.1rem;
      z-index: 1;
      transition: color 0.25s ease-in;

      &:hover {
        color: #1b1d28;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: -0.25em;
        right: -0.25em;
        background-color: #ecececbf;
        transform-origin: center right;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
      }

      &:hover::before {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }
  }

  .login {
    display: flex;
    justify-content: center;
    border: 2px solid #dbdbdb;
    padding: 0.1rem 1rem;
    color: #dbdbdb;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.25s ease-in;

    p {
      position: relative;
      margin-bottom: 0;
      font-size: 1.1rem;
      padding: 0.3rem 0.2rem;
      z-index: 1;
      transition: color 0.25s ease-in;

      &:hover {
        color: #1b1d28;
      }
    }

    &:hover {
      background-color: #ecececbf;

      p {
        color: #1b1d28;
      }

      .method {
        display: flex;
      }
    }

    .method {
      position: absolute;
      top: 1.8rem;
      display: none;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;

      button {
        background-color: transparent !important;
        border: 2px solid #dbdbdb !important;
        border-radius: 15px;
        background-color: #1b1d28 !important;
        white-space: nowrap;
        position: relative;
        font-size: 1.1rem;
        z-index: 1;
        transition: color 0.25s ease-in;
        overflow: hidden;

        &:hover {
          color: #1b1d28;
        }

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: -0.1rem;
          bottom: -0.1rem;
          left: -0.8rem;
          right: -0.8rem;
          background-color: #ecececbf;
          transform-origin: center right;
          transform: scaleX(0);
          transition: transform 0.2s ease-in-out;
        }

        &:hover::before {
          transform: scaleX(1);
          transform-origin: center left;
        }
      }
    }
  }
}

.underHome {
  background-color: #1b1d28;
}

.underHomeButton {
  background-color: #1b1d28 !important;
}

/* Main container */

.main-container {
  .home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('../img/bg.jpg');
    background-size: cover;
    z-index: 1;

    .text-focus-in {
      -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
        both;
      animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    }

    .catchphrase {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30vh 0 0 5vw;
      width: 65%;
      font-size: 4vw;
      font-family: 'Kdam Thmor Pro', sans-serif;
      color: #dbdbdbb4;
    }

    @-webkit-keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
      }
    }
    @keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
      }
    }
  }

  .part {
    position: relative;
    top: 100vh;
    width: 100vw;
    background: #dbdbdb;
    z-index: 2;

    .part-title {
      padding-top: 5rem;
      text-align: center;
      font-size: 3rem;
      font-family: 'Kdam Thmor Pro', sans-serif;
      margin-bottom: 3rem;
    }

    .pres {
      display: block;
      padding-top: 2rem;
      margin: 0 auto;
      width: 80%;

      h2 {
        cursor: pointer;
      }

      p {
        font-size: 1.2rem;
        font-family: 'Kdam Thmor Pro', sans-serif;

        .dw {
          color: #2686d4;
        }
        .gw {
          color: #d4ba26;
        }
        .sw {
          color: #6d6d6d;
        }
        .bw {
          color: #a5550b;
        }
        .cw {
          color: #000000;
        }
      }
      .icons {
        margin-bottom: 4rem;
      }

      .container-supply {
        margin-top: 4rem;
        .supply {
          display: flex;
          justify-content: center;

          svg:first-child {
            transform: rotate(180deg) translateY(-25px);
          }

          span {
            font-weight: 600;
            font-size: 2rem;
            margin: 0 8.2rem;
          }

          svg {
            transform: translateY(25px);
            font-size: 2rem;
          }
        }

        .container-details {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 2rem;

          div {
            border: 3px solid #1b1d28;
            border-radius: 10px;
            padding: 1rem;
            margin: 0 11rem;
            font-weight: 600;
            white-space: nowrap;
          }
        }
      }
    }

    .display-pres {
      display: none !important;
    }

    .icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      margin-top: 5rem;
      width: 90%;

      img {
        width: 8vw;
        cursor: pointer;

        &:hover {
          animation: scale 0.5s ease-in-out infinite;

          @keyframes scale {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(0.9);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
    }

    .container-team {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 70%;
      margin: 0 auto;
      font-family: 'Kdam Thmor Pro', sans-serif;
      margin-top: 5rem;

      .team-member {
        display: flex;
        flex-direction: column;
        margin: 2rem;

        h3 {
          font-size: 2rem;
          margin-bottom: 1rem;
          text-align: center;
        }

        img {
          width: 400px;
          height: 400px;
          margin: 0 auto;
          border: 3px solid #1b1d28;
          border-radius: 20px;
          margin-bottom: 2rem;
        }

        .member-info {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          width: 50%;
          font-size: 1.1rem;
          width: 400px;
        }
      }
    }
  }
}

/* FAQ */
.faq-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;

  .faq {
    display: flex;
    flex-wrap: wrap;
    background-color: #1b1d28;
    margin: 0.7rem;
    cursor: pointer;
    font-size: 1.45rem;
    font-family: 'Nunito', sans-serif;
    width: 80%;

    .question,
    .answer {
      position: relative;
      padding: 1rem;
      color: #dbdbdb;
      width: 800%;
    }

    .answer {
      display: none;
    }

    .answer.active {
      display: block;
    }

    .answer a {
      position: relative;
      text-decoration: none;
      color: var(--base);
    }

    .answer a::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: var(--base);
      transform-origin: center;
      transform: translate(-50%, 0) scaleX(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}

/* Bande */

.bande {
  height: 50px;
  width: 100%;
  background-color: #1b1d28;
  margin-top: 7rem;
}

/* Footer */
footer {
  position: relative;
  top: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #dbdbdb;
  background-color: #1b1d28;
  z-index: 2;
  padding: 5rem 0;

  img {
    height: 4rem;
    margin-left: 2rem;
  }

  .catchphrase {
    padding-top: 1rem;

    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
  }

  .copyright {
    padding-top: 1rem;
  }
}

/* @media screen */
@media screen and (max-width: 1300px) {
  header {
    flex-direction: column !important;
    justify-content: center;
    padding: 2rem 0;

    nav {
      width: 60%;
      margin: 0.5rem 0 0.7rem 0;
    }

    .login {
      margin-top: 1rem;
    }

    .method {
      top: 12.6rem !important;
    }
  }

  .home {
    .catchphrase {
      margin: 45vh 0 0 5vw !important;
      width: 80% !important;
      font-size: 5vw !important;
    }
  }
}

@media screen and (max-width: 1000px) {
  .part {
    .pres {
      width: 80% !important;
      p {
        font-size: 0.8rem !important;
      }
    }

    .icons {
      width: 90% !important;
      img {
        width: 60px !important;
      }
    }

    .container-team {
      width: 80% !important;

      .team-member {
        flex-direction: column !important;

        img {
          max-width: 300px !important;
          max-height: 300px !important;
        }

        .member-info {
          width: 280px !important;
          font-size: 0.8rem !important;
        }
      }
    }

    .container-supply {
      .supply {
        svg:first-child {
          transform: rotate(180deg) translateY(-20px) !important;
        }
        span {
          font-size: 1.7rem !important;
          margin: 0 1rem !important;
        }
        svg {
          transform: translateY(20px) !important;
        }
      }

      .container-details {
        div {
          margin: 0 3rem !important;
        }
      }
    }

    .faq-container {
      .faq {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    nav {
      width: 90%;
    }
  }
  .home {
    .catchphrase {
      font-size: 8vw !important;
    }
  }
}
